<div class="small-3 columns">
  <br>
</div>
<div class="small-6 columns">
  <h1>New Forecast</h1>

  <%= render 'form' %>

  <%= link_to 'Back', forecasts_path %>
</div>
<div class="small-3 columns">
  <br>
</div>
